Bug: Arrays containing an undefined element, are logged as null.

### Expected Behavior

Currently if you you log a key that has an array with `undefined` in it, that value gets converted to `null`.

### Current Behavior

The value should be be logged as is and not converted.

### Code snippet

```ts
logger.info("This is how AWS Powertools logs an array with an undefined element", {
  arrayWithUndefinedElement: [undefined],
});

// logs {arrayWithUndefinedElement: [null]}
```

### Steps to Reproduce

1. Create a new looger instance.
2. Create a log statement with additional keys, one of the keys must be an array with undefined in in.

### Possible Solution

_No response_

### Powertools for AWS Lambda (TypeScript) version

latest

### AWS Lambda function runtime

22.x

### Packaging format used

npm

### Execution logs

```Shell

```

`undefined` is not a valid JSON value, so this behavior is expected and compliant with the JSON specification.

For example:

```js
JSON.stringify([1, undefined, 2]);
// "[1,null,2]"
```

Per the official JSON specification [RFC 8259 §3](https://datatracker.ietf.org/doc/html/rfc8259#section-3):

> A JSON value MUST be an object, array, number, or string, or one of the following three literal names: false null true

And as noted in [MDN’s documentation for JSON.stringify](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify)

> [undefined](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/undefined), [Function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function), and [Symbol](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol) values are not valid JSON values. If any such values are encountered during conversion, they are either omitted (when found in an object) or changed to [null](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/null) (when found in an array)

Ah that's a good find! So the question is then should we keep the existing JSON.stringify behaviour or should we filter them out. I am leaning towards keeping it as it is because adding more complexity to do thje filtering does not seem worth it it imo. But I am keen to hear others' opinions.

Yes, the preserving array length argument is very compelling.